/* @media screen and (max-width: 920px) .text-box span {
  font-size: var(--fontSizeMobile);
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  display: flex;
  flex-direction: column;
  grid-gap: 0;
  padding: var(--m-block-padding);
  font-size: 60pt;
}
kjlkjn #aboutMinaTitle {
  font-size: 65pt;
  offsetleft: 104;
  /* offsetParent: div.block-grid-item.use-m-margin.grid__item */
  offsettop: 2;
  offsetwidth: 293;
}

.aboutHeroContainer {
}

#aboutPinkLeafImage {
  color: #4d2c57;
}

#aboutTaglineBrandBorn {
  width: 533px;
  height: 188.78px;
  font-size: 30pt;
}

#aboutFriendsImage {
}

.textWrapper {
}

#aboutTitleAlex {
}

#aboutTextAlexLaura {
}

#aboutImageGold {
}

#aboutSustainability {
}

#aboutOurThoughts {
}

#aboutReadButton {
}
