/* font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue" */

#aboutMinaTitle {
  display: inline-block;
  font-size: 70pt;
  color: white;
  margin-top: 160px;
  margin-left: -240px;
  position: absolute;
}

#aboutPinkLeafImage {
  display: inline-block;
  height: 400px;
  margin-top: 32px;
  z-index: -1;
  width: 100%;
}

#aboutTaglineBrandBorn {
  width: 100%;
  margin-top: 110px;
  margin-bottom: 110px;
  font-size: 18pt;
  font-weight: 500;
  color: #4d2c57;
}

.aboutGridContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}

.aboutTitleAlexLauracontainer {
  padding-top: 40px;
}

#aboutTitleAlexLaura {
  display: inline-block;
  margin-top: 130px;
  text-align: left;
  font-size: 28pt;
  font-weight: 600;
  color: #3a306b;
  width: 70%;
}

#aboutTextAlexLaura {
  display: inline-block;
  text-align: left;
  font-size: 12pt;
  color: #3a306b;
  width: 70%;
}
.aboutImagePlantWrapper {
  display: flex;
  flex-direction: row;
}

#aboutImagePlant {
  display: inline-block;
  height: 550px;
  width: 100%;
}
.aboutSustainabilityWrapper {
  display: inline-block;
  height: 550px;
  background-color: #f1884c;
}

#aboutTitleSustainability {
  display: inline-block;
  text-align: left;
  padding: 30px;
  padding-top: 70px;
  font-size: 26pt;
  width: 100%;
  color: white;
}

#aboutTextSustainability {
  display: inline-block;
  background-color: rgb(221, 154, 94);
  text-align: left;
  padding: 30px;
  font-size: 16pt;
  color: white;
  background-color: #f1884c;
}

#aboutReadButton {
  width: 170px;
  height: 60px;
  font-size: 14pt;
  border-style: none;
  background-color: white;
}

#aboutReadButton:hover {
  width: 170px;
  height: 60px;
  font-size: 14pt;
  border-style: none;
  background-color: rgb(243, 235, 235);
}
