#aboutSustainabilityTitle {
  display: inline-block;
  font-size: 70pt;
  color: white;
  margin-top: 160px;
  margin-left: -300px;
  position: absolute;
}

#aboutHeroLeafImage {
  display: inline-block;
  height: 400px;
  margin-top: 32px;
  z-index: -1;
  width: 100%;
}
.aboutGridContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}
#aboutTaglineWeCare {
  width: 100%;
  height: 188.78px;
  margin-top: 100px;
  font-size: 18pt;
  color: #4d2c57;
}

.aboutWorkingEthosWrapper {
  display: flex;
  flex-direction: row;
  background-color: rgb(240, 238, 227);
}

#aboutWorkingEthosTitle {
  display: inline-block;
  text-align: left;
  padding-top: 160px;
  font-size: 36pt;
  font-weight: 500;
  width: 70%;
  color: #4d2c57;
}

#aboutWorkingEthosText {
  display: inline-block;
  text-align: left;
  padding-top: 38px;
  font-size: 12pt;
  color: #4d2c57;
  width: 70%;
  line-height: 24pt;
}

#aboutImageOrange {
  display: inline-block;
  height: 550px;
}
.aboutMaterialsWrapper {
  display: inline-block;
  height: 550px;
  background-color: rgb(223, 148, 77);
}

#aboutTitleMaterials {
  display: inline-block;
  text-align: left;
  /* padding: 15px; */
  padding-top: 145px;
  font-size: 36pt;
  font-weight: 500;
  width: 65%;
  color: white;
}

#aboutTextMaterials {
  display: inline-block;
  background-color: rgb(223, 148, 77);
  text-align: left;
  padding-top: 22px;
  font-size: 12pt;
  color: white;
  width: 65%;
}
