.best-sellers-container {
  box-sizing: border-box;
  color: #4d2c57;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 55px 16px 56px 16px;
  width: 100%;
}

.best-sellers-title {
  font-size: 48px;
}

.best-sellers-content {
  display: flex;
  margin-bottom: 16px;
}

.link-container {
  margin-top: 16px;
}

.best-sellers-link {
  border: 2px solid #4d2c57;
  color: #4d2c57;
  font-size: 16px;
  padding: 16px 55px;
}

.best-sellers-link:hover {
  color: #fff;
  background-color: #4d2c57;
}
