/* Top images with title-shop centered */
.topCenterShop {
  display: inline-block;
  font-size: 68pt;
  font-weight: 10;
  margin-top: 140px;
  color: rgb(240, 233, 233);
  margin-left: -130px;
  position: absolute;
}

#heroShop {
  display: inline-block;
  height: 370px;
  max-width: 100%;
  padding-top: 20px;
  z-index: -1;
  padding-bottom: 80px;
}

.container {
  display: grid;
  max-width: 100vw;
  margin: 0 auto;
}

img {
    max-width: 100%;
  }

  .shop {
    margin-left: 105px;
    display: flex;
    gap: 20px;
  }

#row-1 {
  width: 100%;
  height: 22rem;
  padding-top: 20px;
  padding-bottom: 0px;
}

#row-2 {
  width: 100%;
  height: 22rem;
  padding-top: 20px;
  padding-bottom: 0px;
}
#row-3 {
  width: 100%;
  height: 22rem;
  padding-top: 20px;
  padding-bottom: 0px;
} 

.one {
  text-align: left;
  font-size: 15pt;
  color: rgb(15, 15, 15);
  font-weight: 450;
  margin-bottom: 14px;
}
.one-a {
  text-align: left;
  font-size: 12pt;
  color: #4d2c57;
  font-weight: 400;
  margin-top: 0px;
}


