@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.ceramics-container {
  height: fit-content;
  position: relative;
  width: 100%;
}

img {
  width: 100%;
}

.ceramics-content-container {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  left: 23%;
  position: absolute;
  top: 32%;
}

.ceramics-title {
  font-size: 96px;
  font-weight: 400;
  margin: 0;
}

.ceramics-content {
  font-size: 20px;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 60px;
}

.ceramics-link {
  background-color: #fff;
  border: 2px solid #fff;
  color: #4d2c57;
  cursor: pointer;
  font-size: 16px;
  padding: 14px 40px;
}
