.about-mina-card {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.about-mina-image-container {
  height: 368px;
  width: 600px;
}

.about-mina-title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0;
}

.about-mina-content {
  font-size: 20px;
  font-weight: 400;
}

.about-mina-link {
  border: 2px solid #4d2c57;
  color: #4d2c57;
  font-size: 16px;
  padding: 16px 55px;
  text-decoration: none;
}

.about-mina-link:hover {
  color: #fff;
  background-color: #4d2c57;
}
